<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Formularz{% endblock %}</title>
    {% block stylesheets %}{% endblock %}        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div class="container">
    {% block body %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#slider-range-max" ).slider({
      range: "max",
      min: 1,
      max: 15,
      value: 1,
      slide: function( event, ui ) {
        $( "#appbundle_user_experience" ).val( ui.value );
      }
    });
    $( "#appbundle_user_experience" ).val( $( "#slider-range-max" ).slider( "value" ) );
  } );
  </script> 
    
{% block javascripts %}{% endblock %}
</body>
</html>
