{% extends 'base.html.twig' %}

{% block body %}
    <div class="navbar-brand">
        <h1>Wprowadz swoje dane</h1>
    </div>


    {{ form_start(form) }}
    <div class="form-group">
        
        {{ form_widget(form) }}
        <div id="slider-range-max"></div>
        
        {{user.experience}}
    </div>
    <input type="submit" value="Zapisz" class="btn btn-primary"/>   
    

    {{ form_end(form) }}
    
        




{% endblock %}
